{# templates/emails/registration.html.twig #}
<h3>You did it!!</h3>

 You're successfully sent a test mail.

{# example, assuming you have a route named "login" #}
To go back, go to: <a href="{{ url('emailvoucher') }}">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
